{% extends "base.html" %}
<!--扩展base模板，替换里面的标签部分-->
{% block title %}主页{% end %} {% block body %}
<!-- 导航栏 -->
<ul class="nav">
    <li class="active"><a href="/">首页</a></li>
    <li>
        <a href="/chat">聊天室</a>
    </li>
    <li>
        <a href="/files">文件上传与下载</a>
    </li>
    <li>
        <a href="/calc">计算器</a>
    </li>
    <li>
        <a href="/vscode_settings">VS Code 配置</a>
    </li>
    <li>
        <a href="/cv">CV 代码测试</a>
    </li>
</ul>
<fieldset>
    <legend>我的常用网站</legend>
    <details>
        <summary>Python 相关</summary>
        <a href="https://docs.python.org/zh-cn/3/">官方文档</a>
        <a href="https://python3-cookbook.readthedocs.io/zh_CN/latest/"
            >Python Cookbook</a
        >
        <a href="https://geek-docs.com/opencv">OpenCV 教程</a>
    </details>
    <details>
        <summary>镜像源</summary>
        <a href="https://mirrors.tuna.tsinghua.edu.cn/">清华 TUNA</a>
        <a href="https://mirrors.bfsu.edu.cn/">北外</a>
        <a href="https://mirrors.ustc.edu.cn/">中科大</a>
        <a href="https://mirrors.hit.edu.cn/#/home">哈尔滨工业大学</a>
        <a href="https://mirrors.neusoft.edu.cn/">东软</a>
        <a href="https://developer.aliyun.com/mirror/">阿里</a>
        <a href="https://npm.taobao.org/mirrors">cnpm 镜像</a>
        <a href="http://mirrors.163.com/">网易</a>
    </details>
    <details>
        <summary>开发技能网站</summary>
        <a href="https://github.com/">GitHub</a>
        <a href="https://www.oschina.net/">开源中国</a>
        <a href="https://www.w3school.com.cn/index.html">W3School</a>
        <a href="http://gitd.cc/">GitHub 代下载</a>
    </details>
    <details>
        <summary>日常使用网站</summary>
        <a href="https://cn.bing.com/">Bing 搜索</a
        ><a href="https://translate.google.cn/?sl=zh-CN&tl=en&op=translate"
            >Google 翻译</a
        >
    </details>
</fieldset>

{% end %} {% block css %}
<style>
    * {
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Helvetica, Arial, sans-serif;
    }
    details {
        border: 1px solid #aaa;
        border-radius: 4px;
        padding: 0.5em 0.5em 0;
    }
    summary {
        font-weight: bold;
        margin: -0.5em -0.5em 0;
        padding: 0.5em;
    }
    details[open] {
        padding: 0.5em;
    }
    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: 0.5em;
    }
    details[open] a {
        border: 1px solid #aaa;
        border-radius: 5px;
    }
</style>
{% end %}
